body{
    background-color: rgb(40, 40, 40);
    color: rgb(0, 204, 255);
    margin: 0px;
    
}
header{
    background-color: rgb(29, 29, 29);
    padding: 5PX;
}
header > h1{
    margin: 0px;
}
header > nev{
    padding: 1px;
    background-color: rgb(24, 24, 24);
    box-shadow:1px 1px 1px black ;
}
section{
    color: aquamarine;
    
}
footer{
    background-color: rgb(15, 15, 15);
    padding: 10px;
    text-align: center;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.445);
    border-radius: 16px;
}
footer > p {
    margin: 0px;
}
nav > a:hover{
    color: crimson;
    text-decoration: dashed;
}
nav > a{
    margin: 10px;
}
div#bola{
    height: 100px;
    width: 100px;
    background-color: aliceblue;
    margin: 10px;
}
div#bola:hover{
    border-radius: 50%;
    background-color: brown;
}